*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(240, 167, 168);
}
.container{
  display: grid;
  grid-template: 100px 1fr 100px/ 200px 1fr;
  grid-gap: 10px;
  height: 100vh;
  grid-template-areas: "header header"
                       "left content"
                       "footer footer";
}
.item{
  background-color: lightblue;
  border: 1px solid red;
  padding: 10px;
  text-align: center;
}
.header{
  grid-area: header;
}
.left{
  grid-area: left;
}
.content{
  grid-area: content;
}
.footer{
  grid-area: footer;
}
